<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

            <div class="content">
                <h2>About</h2>
                <p>The styles are absolutely the worst but it's not the point. The point is that you can create real
                    posts that will be saved in a real database. Also, there's absolutely no security here right now.
                    Anyone can view/create/delete anything.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex distinctio quas exercitationem quia
                    debitis.
                    Voluptatum delectus praesentium reiciendis rerum ad esse quos deleniti voluptate nulla itaque! Quam
                    mollitia
                    illo ea!</p>
            </div>

            <%- include('./partials/footer.ejs') %>
    </body>

</html>