<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Blog | <%= title %>
    </title>
</head>

<body>
    <nav class="header">
        <a href="/">
            <h1>Hello World</h1>
        </a>
        <ul>
            <li><a href="/">Posts</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/posts/create">New post</a></li>
        </ul>
    </nav>

    <div class="content">
        <h2>About us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex distinctio quas exercitationem quia debitis.
            Voluptatum delectus praesentium reiciendis rerum ad esse quos deleniti voluptate nulla itaque! Quam mollitia
            illo ea!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex distinctio quas exercitationem quia debitis.
            Voluptatum delectus praesentium reiciendis rerum ad esse quos deleniti voluptate nulla itaque! Quam mollitia
            illo ea!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex distinctio quas exercitationem quia debitis.
            Voluptatum delectus praesentium reiciendis rerum ad esse quos deleniti voluptate nulla itaque! Quam mollitia
            illo ea!</p>
    </div>
</body>

</html>